.bio {
    margin-left: 10px;
    position: relative;
}

.bio__title {
    font-size: 24px;
    margin: 0;
}

.bio__subtitle {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

.bio__link {
    position: absolute;
    bottom: 0;
    text-decoration: none;
    color: var(--light-blue);
    border-bottom: 1px solid rgb(0, 96, 160, 0.2);
    padding-bottom: 2px;
}

.bio__link:hover {
    color: var(--orange);
    border-color: var(--orange);
}