.section {
    padding: 0 10px;
    font-size: 14px;
    margin-bottom: 30px;
}

.section__text {
    position: relative;
    display: inline-block;
}

.section__text > p {
    margin: 0;
    line-height: var(--medium);
}

.section__title {
    margin: 0;
    margin-bottom: 10px;
    font-size: var(--medium);
    font-weight: 500;
}

.section__subtitle {
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: var(--regular);
    line-height: var(--medium);
}


