.skill-section {
    margin-bottom: 20px;
}

.skill {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    margin-bottom: 5px;
}

.skill_caption {
    margin-bottom: 10px;
}

.skill__label {

}

.skill-progress {
    width: 100%;
}

.skill-progress_caption {
    display: flex;
    flex-direction: column;
    margin-top: -12px;
}

.skill-progress__caption {
    font-weight: 300;
    font-size: 12px;   
    align-self: center; 
}

.skill-progress__progress {
    height: 5px;
    background: var(--orange);
    border-radius: 10px;
}

